.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-image: url('https://www.eatingwell.com/thmb/m5xUzIOmhWSoXZnY-oZcO9SdArQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/article_291139_the-top-10-healthiest-foods-for-kids_-02-4b745e57928c4786a61b47d8ba920058.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}